@model List<SignalRWebUI.Dtos.CategoryDtos.ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Cateogries</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Category List</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Category Operations
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Category Name</th>
									<th scope="col">Status</th>
									<th scope="col">Delete</th>
									<th scope="col">Update</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var item in Model)
								{
									<tr>
										<td>@item.CategoryID</td>
										<td>@item.CategoryName</td>
										<td>@item.Status</td>
										<td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger">Delete</td>
										<td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-success">Update</td>
									</tr>
								}								
							</tbody>
						</table>
						<a href="/Category/CreateCategory/" class="btn btn-outline-primary">Add Category</a>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>
